:root {
    /* Colors */
    --primary-background-color: #1F2937;
    --main-text-color: #E5E7EB;
    --header-text-color: #F9FAF8;
    --button-color: #3882F6;
    --quote-background-color: #E5E7EB;
}

/* Reset styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body {
    margin: 0;
    height: 100%;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif; /* Add a font stack here */
}
img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}
header, footer {
    background-color: var(--primary-background-color);
}

nav {
    color: var(--header-text-color);
    width: 100%;
}
nav img {
    width: 3em;
    height: 3em;
}
button {
    background-color: var(--button-color);
    color: var(--main-text-color);
    padding: .4em 2em;
    border-radius: .5em;
    border: none;
}
.hero {
    display: flex;
    justify-content: center;
    padding: 4em 7em;
    position: relative;
    background-color: var(--primary-background-color);
}
.hero-text {
    color: var(--main-text-color);
    letter-spacing: .3rem;
}
.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul[role="list"] {
    display: flex;
    align-items: center;
    list-style: none;
}
.studios {
    padding: 5em 15em;
}
.studio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.studio-text {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}
.box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.blu-box {
    border: solid var(--button-color);
    border-radius: .5em;
    width: 15em;
    height: 15em;
}
.blu-box img {
    width: 100%; 
    height: 100%;
}
.quote {
    background-color: var(--quote-background-color);
    display: flex;
    justify-content: center;
    padding: 4em 
}
blockquote {
    font-size: 2em;
}
.sign-up {
    padding: 2em 7em;
}
.form {
    background-color: var(--button-color);
    display: flex;
    justify-content: space-around;
    padding: 3em 4em;
}
footer {
    display: flex;
    justify-content: center;
    color: var(--main-text-color); 
    padding: 2em ;
}
